.carousel-item{
    height: 60%;
}
.tittle{
    height: 50%;
    width: 100%;
    object-fit: cover;
}


/*FOOTER*/

footer {
    background: #222222;
    color: white;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  .backimage{
   position: relative;
   text-align: center;
   color: whitesmoke;
  }
  #text_on_back{
    position: absolute;
    
    top: 40%;
    left: 39%;

  }

@media screen and (max-width:600px) {

  #text_on_back{
    position: absolute;
    top: 42%;
    left: 16%;
  }
}
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  



  a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ci img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}



.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px ;
}

.ct {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.cb{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;

}

.details {
    padding-bottom: 20px;
}

.mainfooter {
 margin-top: 10px;
}
  

  